div{
	display: inline-block;
	width: 140px;
	height: 140px;
	background-color: #ffffcc;
	text-align: center;
	border-radius: 20%;
	/*margin: 30px auto 30px auto;*/
}

.tekst{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
p{
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translate(-50%, -50%);	
}