.wpis{
	display: block;
	background-color: rgba(153, 204, 255, 0.7);
	height: 150px;
	width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    margin: none;
    float: left;
    border: solid 1px black;
}

.wrap{
	max-width: 100%;
	border: solid 4px red;
}

img{
	max-width: 120px;
	float: left;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

.wpis:nth-child(odd){
	width: 48%;
	margin: 1%;
}

.wpis:nth-child(even){
	width: 48%;
	margin: 1%;
}

html{
	background-image: url(http://weknowyourdreamz.com/images/minions/minions-05.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    /*background: kolr #fff url no-repeat bottom/cenetr/top<-(wsp. y) bottom/center <-(wsp. x); */
    margin: none;
}

article p,q{
	margin: 3%;
}

#master-footer{
	float: left;
	width: 100%;
	height: auto;
	background-color: grey;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.div-stopka{
	width: 33.33333%;
	float: left;
	margin: none;
}

/*
#pozycja{
	position: relative;
	top: 10px;
	left: 200px;
}
*/

article{
	margin-bottom: 15%;
}

footer p {
	margin: 1%;
	margin-left: 2%;
}
p:before{
	color: red;
	content: "§";
	text-align: center;
	font-size: 23px;
}

a:hover{
	color: #ffffff;
	font-size: 20px;
	display: block;
	background-color: black;
	width: 33%;
}
